<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abode.abodeonline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AbodeOnline">
        <activity android:name=".RentalRoomActivity"></activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".ReviewEntityActivity" />
        <activity android:name=".ElementProfile" />
        <activity android:name=".HostelActivity" />
        <activity android:name=".AddImageActivity" />
        <activity android:name=".AddResourcesActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".GetDetailsActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="ManifestOrder" />

</manifest>