<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.findmyhome.abodeonline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UploadHostelImageActivity"></activity>
        <activity android:name=".ElementProfileActivity" />
        <activity android:name=".SearchPgActivity" />
        <activity android:name=".AddRentalRoomActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".SearchHostelActivity" />
        <activity android:name=".AddHostelActivity" />
        <activity android:name=".AddPGActivity" />
        <activity android:name=".UploadContentActivity" />
        <activity android:name=".ProfileImageActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".GetDataActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>